body {
	background-color: #083b4c;
}
.box {
	width: 70px;
	height: 70px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	background-color: #1389b2;
}
.fizz {
	background-color: #0bd6a1;
}
.buzz {
	background-color: #ffd166;
}
.fizzbuzz {
	background-color: #f0466f;
}
